@import "../base/variables";
/* ==================================================================
Call Out Section styles
================================================================== */
.callout {
  padding: 35px 0;
  color: $WhiteColor;
  border-bottom: solid 1px #262626;
  @media (max-width: $md) {
    text-align: center;
  }
  h2 {
    margin: 10px 0px 0px 0px;
    font-weight: 400;
    font-size: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    @media (max-width: $lg) {
      font-size: 23px;
    }
    @media (max-width: $md) {
      margin-bottom: 20px;
    }
  }
  .button {
    float: right;
    @media (max-width: $md) {
      float: none;
    }
  }
}
.callout-dark-solid {
  background: $primaryColor;
  border-bottom: solid 1px #26262647;
}
.callout-dark-bkg {
  border-bottom: solid 1px #26262647;
  background: url(../images/callout-bkg.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
