@import "../base/variables";
/* ==================================================================
 Page Preloader
================================================================== */

.pagePreloader {
  position: fixed;
  z-index: 100;
  background: url("../images/preloader.gif") no-repeat center;
  top: 0;
  right: 0;
  bottom: 0px;
  left: 0;
  background-color: $WhiteColor;
}

/* ==================================================================
Inner Page Header and Banner styles
================================================================== */
.staticBanner {
  padding: 120px 0 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  color: $WhiteColor;
  position: relative;
  @media (max-width: $md) {
    padding: 100px 0 30px 0;
  }
  a {
    color: $WhiteColor;
  }
  &:after {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    position: absolute;
    content: "";
    background: $blackColor;
    background: -moz-linear-gradient(45deg, $blackColor 0%, $primaryColor 100%);
    background: -webkit-gradient(
      left bottom,
      right top,
      color-stop(0%, $blackColor),
      color-stop(100%, $primaryColor)
    );
    background: -webkit-linear-gradient(
      45deg,
      $blackColor 0%,
      $primaryColor 100%
    );
    background: -o-linear-gradient(45deg, $blackColor 0%, $primaryColor 100%);
    background: -ms-linear-gradient(45deg, $blackColor 0%, $primaryColor 100%);
    background: linear-gradient(45deg, $blackColor 0%, $primaryColor 100%);
    opacity: 0.7;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  h1.pageTitle {
    font-size: 42px;
    font-weight: 600;
    margin: 20px 0;
    @media (max-width: $md) {
      font-size: 26px;
    }
  }
  .pageDes {
    font-size: 20px;
    @media (max-width: $md) {
      font-size: 15px;
    }
  }
}

/* ==================================================================
   16.0 Page Left Accordian Menu styles
================================================================== */
.leftMenu {
  a {
    display: block;
    text-align: left;
    border-bottom: solid 1px #dddddd;
    padding: 12px 0;
    font-weight: 500;
    color: $GrayMediumColor;
    &:hover {
      color: $primaryColor !important;
    }
  }
  .linkBox {
    margin-left: 10px;
    display: none;
    a {
      font-weight: 400;
      font-size: 14px;
    }
  }
  > a {
    position: relative;
    &:after {
      background-image: url("../images/rightArrow.png");
      width: 13px;
      height: 13px;
      content: "";
      position: absolute;
      right: 0px;
      background-repeat: no-repeat;
      background-position: center center;
      top: 20px;
    }
  }
  > a.open {
    color: $primaryColor;
    &:after {
      background-image: url("../images/downArrow.png");
    }
  }
}
.activePage {
  color: $primaryColor !important;
}
.caseStudy {
  margin-top: 40px;
  .blackHD {
    font-size: 26px;
  }
  .caseThumb {
    display: block;
    line-height: 0px;
    border: solid 1px #dfdede;
    margin: 20px 0;
    img {
      width: 100%;
    }
  }
  p {
    color: #494847;
    margin: 7px 0;
  }
}
.more {
  color: $primaryColor;
  &:hover {
    text-decoration: underline;
    color: $primaryColor;
  }
}
.sidebar {
  display: table-cell;
  padding: 0 30px 0 15px;
  border-right: solid 1px #dddddd;
  .blackHD {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
.rightContent {
  display: table-cell;
  padding-left: 40px;
  @media (max-width: $lg) {
    padding-left: 20px;
  }
  p {
    margin-bottom: 20px;
  }
  h2.subHd {
    margin-top: 0px;
    font-family: $MuliFont;
  }
  > .blackHD.font22 {
    margin: 40px 0 0px 0;
  }
}
.btmBorder {
  border-bottom: solid 1px #e1e1e0;
  margin: 0px 0 25px 0;
  padding-bottom: 20px;
  .font16 {
    margin: 15px 0 5px 0;
  }
  p {
    margin-bottom: 10px;
  }
}
.leftIndend {
  padding-left: 30px;
  ul {
    display: table-cell;
    font-size: 15px;
    padding: 7px 40px 0 0;
    @media (max-width: $md) {
      display: block;
      padding: 0;
      margin: 0px;
    }
    li {
      background-image: url("../images/blt.png");
      background-position: left center;
      background-repeat: no-repeat;
      padding: 1px 0 1px 20px;
      list-style-position: outside;
    }
  }
}
.bigBtn {
  display: block;
  margin: 40px 0 0 0;
  border-radius: 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding: 14px;
  @media (max-width: $md) {
    padding: 13px;
  }
}
/* ==================================================================
Back-to-top button styles
================================================================== */
.progress-wrap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 10000;
  opacity: 1;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  &.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  &::after {
    position: absolute;
    font-family: $FontAwesome;
    content: "\f106";
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    color: $primaryColor;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    border: 2px solid $primaryColor;
    box-shadow: none;
    border-radius: 50% !important;
    border-radius: 5px;
  }
  &:hover {
    &::after {
      line-height: 43px;
      opacity: 1;
      font-family: $FontAwesome;
      border: 2px solid $primaryColor;
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    }
    &::before {
      opacity: 0;
    }
  }
  &::before {
    position: absolute;
    font-family: "unicons";
    content: "\e84b";
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    opacity: 0;
    background: $primaryColor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  svg {
    color: $primaryColor;
    border-radius: 50%;
    background: #fff;
    path {
      fill: none;
    }
    &.progress-circle {
      path {
        stroke: $primaryColor;
        stroke-width: 24px;
        box-sizing: border-box;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
      }
    }
  }
}

/* ==================================================================
   26.0 Pagination styles
=====================================================================*/
.paginationOuter {
  margin: 10px 0;
  .pagination {
    > li {
      > a {
        margin: 0 5px;
        border-radius: 2px !important;
        display: inline-block;
        &:hover {
          background-color: $primaryColor;
          border: solid 1px $primaryColor;
          color: $WhiteColor;
        }
      }
      > span {
        margin: 0 5px;
        border-radius: 2px !important;
        display: inline-block;
        &:hover {
          background-color: $primaryColor;
          border: solid 1px $primaryColor;
          color: $WhiteColor;
        }
      }
    }
    > li.active {
      span {
        background-color: $primaryColor;
        border: solid 1px $primaryColor;
        color: $WhiteColor;
      }
    }
  }
}
.pagination {
  > li {
    > a {
      color: $GrayMediumColorOp2;
    }
    > span {
      color: $GrayMediumColorOp2;
    }
  }
}

/* ==================================================================
 Brands/Partners Slider styles
=====================================================================*/
.brands {
  display: block;
  padding: 55px 0;
  border-top: solid 1px #ddd;
  ul {
    display: block;
    li {
      list-style: none;
    }
    .owl-item {
      img {
        width: auto;
        opacity: 0.5;
        filter: gray;
        -webkit-filter: grayscale(100%);
        transition: all 0.3s ease 0s;
        &:hover {
          opacity: 1;
          filter: none;
          -webkit-filter: grayscale(0%);
        }
      }
    }
  }
}
/* ==================================================================
Page 404
=====================================================================*/
.page404 {
  height: 100vh;
  background-image: url("../images/evelyn-mostrom-59210-unsplash.jpg");
  display: flex;
  align-items: center;
  svg {
    width: 500px;
    margin-bottom: 30px;
    @media (min-width: $desktop) {
      margin-top: 60px;
    }
    @media (max-width: $desktop) {
      margin-top: 30px;
    }
    @media (max-width: $lg) {
      max-width: 100%;
    }
    path {
      fill: $primaryColor !important;
    }
    g {
      fill: $primaryColor !important;
    }
    polygon {
      fill: $primaryColor !important;
    }
  }
}
